:root>* {
    --md-primary-fg-color: #4c94cb;
    --md-primary-fg-color--light: #4c94cb;
    --md-primary-fg-color--dark: #4c94cb;
}

button.md-top {
    font-family: LXGW WenKai;
    /* 修改字体 */
    font-size: 16px;
    /* 修改字体大小 */
    font-weight: lighter;
    /* 修改字体粗细 */
    color: #518fc1;
    /* 修改字体颜色 */
}

:root {
    --md-text-font: "LXGW WenKai";
}

/* 字体 */